service: serverless-etl-python

provider:
  name: aws
  runtime: python3.7
  region: ${env:AWS_DEFAULT_REGION, self:custom.defaultRegion}
  stage: ${env:AWS_ENVIRONMENT, self:custom.defaultEnvironment}
  environment:
    bucketDataRaw: ${self:custom.customPrefix}-raw-${self:custom.customSulfix}
    bucketDataStaging: ${self:custom.customPrefix}-staging-${self:custom.customSulfix}
    tableMetadata: ${self:custom.customPrefix}-metadata-${self:custom.customSulfix}
  s3:
    s3bucketDataRaw:
      name: ${self:provider.environment.bucketDataRaw}
    s3bucketDataStaging:
      name: ${self:provider.environment.bucketDataStaging}

package:
  individually: true
  exclude:
    - '.*/**'

# plugins:
#   - serverless-python-requirements

custom: ${file(./sls/custom.yml)}

functions: ${file(./sls/functions.yml)}

resources: ${file(./sls/resources.yml)}